<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSURANCE FRAUD DETECTION</title>
</head>
<body>
    <h1>Insurance Fraud Detection Application</h1>
    <hr>
    <form action="result">
    months_as_customer: <input type="number" step='0.01' name="months_as_customer" required><br>
    age: <input type="decimal" step='0.01' name="age" required><br>
    policy_csl: <input type="number" step='0.01' name="policy_csl" required><br>
    policy_deductable: <input type="number" step='0.01' name="policy_deductable" required><br>
    policy_annual_premium: <input type="number" step='0.01' name="policy_annual_premium" required><br>
    umbrella_limit: <input type="number" step='0.01' name="umbrella_limit" required><br>
    insured_sex: <input type="number" step='0.01' name="insured_sex" required><br>
    insured_education_level: <input type="number" step='0.01' name="insured_education_level" required><br>
    insured_occupation: <input type="number" step='0.01' name="insured_occupation" required><br>
    insured_relationship: <input type="number" step='0.01' name="insured_relationship" required><br>
    
    capital_gains: <input type="number" step='0.01' name="capital_gains" required><br>
    capital_loss: <input type="number" step='0.01' name="capital_loss" required><br>
    incident_type: <input type="number" step='0.01' name="incident_type" required><br>
    collision_type: <input type="number" step='0.01' name="collision_type" required><br>
    incident_severity: <input type="number" step='0.01' name="incident_severity" required><br>
    authorities_contacted: <input type="number" step='0.01' name="authorities_contacted" required><br>
    incident_hour_of_the_day: <input type="number" step='0.01' name="incident_hour_of_the_day" required><br>
    number_of_vehicles_involved: <input type="number" step='0.01' name="number_of_vehicles_involved" required><br>
    property_damage: <input type="number" step='0.01' name="property_damage" required><br>
    bodily_injuries: <input type="number" step='0.01' name="bodily_injuries" required><br>
    
    witnesses: <input type="number" step="0.01" name="witnesses" required><br>
    police_report_available: <input type="number" step="0.01" name="police_report_available" required><br>
    total_claim_amount: <input type="number" step="0.01" name="total_claim_amount" required><br>
    injury_claim: <input type="number" step="0.01" name="injury_claim" required><br>
    property_claim: <input type="number" step="0.01" name="property_claim" required><br>
    vehicle_claim: <input type="number" step="0.01" name="vehicle_claim" required><br>
    
    <input type="submit">
   

    </form>
</body>
</html>